           general {
                   colors = true
                   interval = 1
           }

           order += "disk /"
           order += "load"
           order += "tztime local"
           order += "tztime london"


           tztime local {
                   format = "%Y-%m-%d %H:%M:%S %Z"
           }

           tztime london {
                   format = "%H:%M:%S %Z"
                   timezone = "Europe/London"
           }

           load {
                   format = "%5min"
           }


           disk "/" {
                   format = "%free"
           }
